*
{
	margin: 0;
	padding: 0;
}

html { height:100%; }
* html body { height:100%; }
body {	height: 100%; }

.header
{
/*	padding-bottom: 5%;*/
	padding:10px;
/*	height:10%;*/
}
.footer
{
	text-align:center;
	height:10%;
}

#main
{
	position:relative;
	height:80%;
}

.content 
{
	width:50%;
	position:relative;
	left:25%;
	height: 100%;
}

.statuses
{
	width:100%; 
	float:left;
	height:100%;
	overflow:auto;
}

.tags
{
	width:50%;
	position:relative;
	left:-150%; float:left; 
	margin-right:-50%;
	height:100%;
	overflow:auto;
}

.contacts
{ 
	width:50%;
	position:relative;
	left:0%; float:left; 
	margin-right:-50%;
	height:100%;
	overflow:auto;
}

/*LIST ITEMS*/
.item
{
	color: #2B587A;
	padding-left: 10px;
}
.item:hover
{
	color: #2B587A;
	padding-left: 10px;
	padding-right: 10px;
	background:#DAE1E8;
}
.item.selected
{
	background:#6D8FB3;
	color:white;
	border: 1px solid #3B6798;
	padding-left: 10px;
	padding-right: 10px;
}

.status
{
	padding-left: 10px;
	padding-right: 10px;
}
.status a
{
	color: #2B587A;
	cursor: pointer;
	text-decoration: none;
}
.status a:hover
{
	color: #2B587A;
	cursor: pointer;
	text-decoration: underline;
}
.status span
{
	padding-left:20px;
	float:right;
	color: #777;
}
