{% if last_statuses %}
	<div class = "timestamp"> </div>
	{% for status in last_statuses %}
	<div class = "status"> 
	<a href="http://vkontakte.ru/{{ status.contact.uid }}">{{ status.contact.name|safe }}</a>
		<span> 
		{% ifequal status.date.day now.day %}
			сегодня,
		{% else %}
			{% ifequal status.date.day yesterday %}
				вчера,
			{% else %}
				{{ status.date|date:"d-m" }}
			{% endifequal %}
		{% endifequal %} 
		{{ status.date|date:"H:i" }}
		 </span>
		{{ status.text|safe }}
		
		<div class="comment_link">
			{%if status.number_of_comments%}
				<a href="/statuses/status_{{status.id}}">Комментарии ({{status.number_of_comments}})</a>
			{%else%}
				<a href="/statuses/status_{{status.id}}">Комментировать</a>
			{%endif%}
		</div>
		
	</div>
	{% endfor %}
{% else %}
	<p> No statuses </p>
{% endif %}
