.stat
{
 	background-color: #F6F7F9;
 	border: 1px solid #DBE0EA;
	margin: 7px;
	margin-left: 10%;
	margin-bottom: 25px;
	padding: 5px;
	width: 60%;
}

.stat span
{
	color: #777;
	float: right;
}

a
{
	color: #2B587A;
	cursor: pointer;
	text-decoration: none;
}

a:hover
{
	color: #2B587A ;
	cursor: pointer;
	text-decoration: underline;
}

.send_comment_form
{
	margin-left: 20%;
	width:350px;
}

.send_comment_form input
{
	padding:0px 24px 0px 5px;
	height:24px;
	border: 1px solid #a7a7a7;
}

.send_comment_form textarea
{
	padding:0px 24px 0px 5px;
	margin-top: 7px;
	width:100%;
	border: 1px solid #a7a7a7
}

.email
{
	float: right;
}


.button
{
	background:#36638E;
	padding:3px 8px 3px 8px;
	color:#fff;
	text-decoration: none;
	margin-top: 7px;
	margin-right: 4px;
	float: right;
}

.button:hover
{
	text-decoration: none;
	color:#fff;
}


.comment
{	
	padding: 5px;
	max-width: 50%;
}

.msg
{
	position: relative;
	bottom: 15px;
	top: 15px;
 	margin: 8px;
 	background-color: #F4EBBD;
}

.comments
{
	margin-left: 20%;
}

.comment span
{
	color: #777;
	padding-right: 7px;
}





