*
{
	margin: 0;
	padding: 0;
}

html { height:100%; }
* html body { height:100%; }
body {	height: 100%; }

.header
{
	position:relative;
	height:15%;
}
.header h1
{
	padding:10px;
}
/*.footer*/
/*{*/
/*	text-align:center;*/
/*	height:20%;*/
/*}*/

#main
{
	position:relative;
	height:80%;
}

.content 
{
	width:50%;
	position:relative;
	left:25%;
	height: 100%;
}

.statuses_holder
{
	width:100%; 
	float:left;
	height:100%;
}

.coloumn
{ 
	width:100%; 
	height:24px;
	background-image:url('http://localhost/res/default/img/header.png');
	background-color: #efefef ;
}
.coloumn span 
{
	float:left;
/*	color: #777;*/
/*	padding-right:10px;*/
	margin-left:-24px;
	position:relative;
}
.coloumn b
{
	font-weight:normal;
	padding: 0 5px 0 5px;
	color:black;
	margin-top:2px;
}

.coloumn input{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:normal;
	color:#A7ADB6;
	padding:0px 24px 0px 5px;

/*	position:relative;*/
/*	left:-24px;*/
/*	margin-right:-24px;*/
/*	padding-right:24px;*/
/*	visibility:hidden;*/

	float:left;
	width:100%;
	height:24px;
	border: 1px solid #a7a7a7
/*	border:none;*/
/*	background:url('./sample_input.gif') 0 0 no-repeat;*/
/*	background:url('http://localhost/res/default/img/sample_input.gif') 0 0 no-repeat;*/
}

.statuses
{
	width:100%; 
	float:left;
	height:100%;
	overflow:auto;
/*	border-left: 1px solid #000000;*/
}

.tags_holder
{
	width:50%;
	position:relative;
	left:-150%; float:left; 
	margin-right:-50%;
	height:100%;
/*	overflow:auto;*/
}

.tags
{
	width:100%; 
	float:left;
	height:100%;
	overflow:auto;
/*	border-right: 1px solid #000000;*/
}

.contacts_holder
{ 
	width:50%;
	position:relative;
	left:0%; float:left; 
	margin-right:-50%;
	height:100%;
/*	overflow:auto;*/
}
.contacts
{
	width:100%; 
	float:left;
	height:100%;
	overflow:auto;
/*	border-left: 1px solid #000000;*/
/*	border-right: 1px solid #000000;*/
}

/*LIST ITEMS*/
.item:hover
{
	color: #2B587A;
/*	padding-left: 10px;*/
/*	padding-right: 10px;*/
	background:#DAE1E8;
}
li.item i
{
	display:none;
}
li.item span
{
	display:none;
}
.right-selectable
{
	color: #2B587A;
	border:none;
/*	padding-left: 0 10px 0 10px !important;*/
}
.right-selectable li
{
	border:none;
}
.right-selectable li:hover
{
	background: #DAE1E8;
}
.right-selectable-selected
{
	background:#6D8FB3 !important;
	color:white !important;
/*	border: 1px solid #3B6798 !important;*/
	font-weight:normal !important;
/*	padding: 0 10px 0 10px !important;*/
/*	padding-right: 10px;*/
}

.status
{
	padding-left: 10px;
	padding-right: 10px;
}
.status a
{
	color: #2B587A;
	cursor: pointer;
	text-decoration: none;
}
.status a:hover
{
	color: #2B587A ;
	cursor: pointer;
	text-decoration: underline;
}
.status span
{
	padding-left:20px;
	float:right;
	color: #777;
}

.comment_link
{
	margin-bottom: 15px;
	font-size: small;
	margin-left: 7px;
}

.comment_link a
{
	color: #505050;
}


/*SCROLL*/

body{
    scrollbar-face-color: #6D8FB3; /*/ obviously change this to whatever you want /*/
    scrollbar-arrow-color: #FFFFFF;
    scrollbar-highlight-color: #6D8FB3;
    scrollbar-3dlight-color: #6D8FB3;
    scrollbar-shadow-color: #6D8FB3;
    scrollbar-darkshadow-color: #3B6798;
    scrollbar-track-color: #DAE1E8;
}


