{% extends "exercise/base.html" %}

{% block title %}Exercise{% endblock %}

{% block includes %}
	<style type="text/css">
		.login
		{
			width: 20%;
			text-align: center;
			position: absolute;
			top: 30%;
			left: 40%;
		}
	</style>
{% endblock %}

{% block header %}{% endblock %}

{% block body %}
	<div class="login">
		{% if msg %}
			<b>{{ msg }}</b>
		{% endif %}	
		<form method="post" action="/exercise/login/">
			<input name="login" type="text"><br>
			<input name="password" type="password"><br>
			<input type="submit" value="Submit">
		</form>
	</div>
{% endblock %}

	

